*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}

body{
    background-image: linear-gradient(105deg, rgba(19, 19, 19, 0.871),rgba(22, 22, 35, 0.892));
}

.gallery{
    display: flex;
    width: 40%;
    height: 300px;
    padding:20px;
    margin: 30px;
    gap:4px;
}

.gallery > img{
    width: 25%;
    height: 300px;
    aspect-ratio: 1/1;
    object-fit: cover;
    border: 2px solid white;
    border-radius: 5px;
    transition: all ease 0.7s;
    -webkit-transition: all ease 0.7s;
    -moz-transition: all ease 0.7s;
    -ms-transition: all ease 0.7s;
    -o-transition: all ease 0.7s;
}

.gallery > img:hover{
    width:100%;
    scale:1.1;
}

::-webkit-scrollbar{
    width: 15px;
}

::-webkit-scrollbar-track{
    background-color: rgb(0, 0, 0);
    border-radius: 1px;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    -ms-border-radius: 1px;
    -o-border-radius: 1px;
}

::-webkit-scrollbar-thumb{
    border: 2px solid white;
    background-image: linear-gradient(45deg, cyan,mistyrose);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

