*{
  margin: 0;
  padding:0;
  box-sizing: border-box;
  font-family: 'Arial', sans-serif;

}

.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-image: linear-gradient(290deg, #1a9fdc, #e55fe3);
}

.quote-container {
  text-align: center;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 6px 1px rgb(251, 245, 236);
  margin-bottom: 20px;
}

.quote-text {
  font-size: 1.5rem;
  margin-bottom: 10px;
}
h1{
  margin-bottom: 5px;
}

.quote-author {
  font-size: 1rem;
}

.buttons-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button {
  background-color: #34db47;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  margin-bottom: 10px;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #2980b9;
}

.search-container {
  display: flex;
  align-items: center;
}

input {
  padding: 10px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
  border-radius: 5px;
  margin-right: 10px;
}

/* Responsive Styles */
@media (max-width: 600px) {
  .buttons-container {
      flex-direction: column;
  }

  .search-container {
      flex-direction: column;
      align-items: flex-start;
  }
}
